# Ignorar a pasta de dependências da máquina local
node_modules

# Ignorar a pasta de saída do build
dist

# Ignorar arquivos de log e ambiente local
npm-debug.log
.env

# Ignorar metadados do Git
.git
.gitignore