/* src/styles/global.css */
.hero-banner-bg {
  background-image: url('https://storage.googleapis.com/aurora-homepage-assets-prod1/Otimizadas%20Web/Puzzel_Aurora.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}