---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.tsx';
import ParadigmaIntelligenceFirst from '../components/ParadigmaIntelligenceFirst.astro';
import ArquiteturaProprietaria from '../components/ArquiteturaProprietaria.astro';
import Metodologia from '../components/Metodologia.astro';
import VisaoLongoPrazo from '../components/VisaoLongoPrazo.astro';
import SocialProof from '../components/SocialProof.tsx';
---

<Layout title="Aurora | O Futuro dos Sistemas Operacionais">
  <main>
    <Hero client:visible />
    <ParadigmaIntelligenceFirst />
    <ArquiteturaProprietaria />
    <Metodologia />
    <VisaoLongoPrazo />
    <SocialProof client:visible />
  </main>
</Layout>