---
import Layout from '../layouts/BaseLayout.astro'; // Supondo um layout base
import Login from '../components/Login.tsx';
---
<Layout title="Aurora - Login">
  <main>
    <Login client:load /> 
  </main>
</Layout>