---
// Caminho: src/components/ui/AnimatedCard.astro
---
<div class="rounded-xl p-0.5 animated-gradient-background">
  <div class="bg-white rounded-[10px] p-6 h-full w-full">
    <slot />
  </div>
</div>